name: "Run Dotnet"

on:
  workflow_dispatch:
  
permissions:
  contents: read
  
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run : "./ConsoleApp2"
        
      
